.cursor {
    position: absolute;
    background: #fff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    z-index: 10000;
    transform: scale(1);
    user-select: none;
    pointer-events: none;
    transition: 0.3s ease-in-out transform, 0.2s ease-in-out opacity;
     mix-blend-mode: difference;
  }
  .cursor.active {
    opacity: 0.5;
    transform: scale(0);
  }
  .cursor.hovered {
    opacity: 0.08;
  }
  
  .cursor-follower {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    width: 18px;
    height: 18px;
    border-radius: 100%;
    z-index: 10000;
    transform: translatex(5px, 5px);
    user-select: none;
    pointer-events: none;
    transition: 0.6s ease-in-out transform, 0.2s ease-in-out opacity;
    mix-blend-mode: difference;
  }
  .cursor-follower.active {
    opacity: 0.7;
    transform: scale(3);
  }
  .cursor-follower.hovered {
    opacity: 0.08;
  }